@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f4f6;
  display: flex;
  /* overflow: hidden; */
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  line-height: 100%;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* select-wrapper */
.select-wrapper select {
  background: #f5f6f7 no-repeat;
  appearance: none;
  padding-right: 10px;
  background-image: url("/dashboard/CaretDown.svg");
  background-position: right 10px center;
  background-size: 16px 16px;
}

/* headerInputs */
.input-container {
  position: relative;
}

.image-placeholder {
  /* padding-left: 44px;  */
  background-size: 20px; /* Размер изображения */
  background-repeat: no-repeat;
  /* background-position: right 10px center; */
}

.image-placeholder:focus {
  outline: none; /* Убираем обводку при фокусе */
}
